<p>employee works!</p>
<body>

    <button class="back" (click)='logOut()'>Log out</button>
  
    <h1>Welcome {{ username }}</h1>
    
    <div class="buttongrp">
      <button class="button-84" (click)="goToLeave()">Leave request 📩</button>
      <button class="button-84" (click)="getLeaveHistory()">Leave History📜</button>
      <button class="button-84" (click)="getLeaveDaysLeft()">Leave days left📆 </button>
    </div>
  
    <p *ngIf="show" class="displayData"> Leave days left: {{leaveDays}} </p>
  
    <div>
      <table class="blueTable" *ngIf="tbl">
        <thead>
          <tr>
            <th *ngFor="let col of columns">
              {{col.header}}
            </th>
  
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of leave">
            <td *ngFor="let column of columns">
              {{item[column.field]}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
  </body>